[Unit]
Description=Run My Script Service every 5 minutes and on System Boot

[Timer]
OnBootSec=0
OnUnitActiveSec=5min
Unit=ChangeWallPaper.service

[Install]
WantedBy=timers.target
